<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head th:replace="template :: head">
</head>
<body>
<div class="container">

    <div id="top" th:include="template :: masthead"></div>

    <div id="middle">

        <!-- TODO - Display portfolio -->
        <p>Your Awesome Portfolio</p>

        <table class="table table-striped">
            <tr>
                <th>Stock Name</th>
                <th>Number of Shares</th>
                <th>Stock Price</th>
                <th>Total Stock Value</th>
            </tr>
            <tr th:each="holdingData : ${portfolioData}">
                <td th:text="${holdingData.stockName}"></td>
                <td th:text="${holdingData.stockShares}"></td>
                <td th:text="${holdingData.stockPrice}"></td>
                <td th:text="${holdingData.totalValue}"></td>
            </tr>
        </table>

        <p>Cash remaining: <b th:text="${cash}"></b></p>

    </div>

    <div th:replace="template :: footer"></div>
</div>
</body>
</html>